body {
    background-color: #F2F2F2 !important;
}

.search-form-wrapper {
padding-top: 80px;
}

.st_1658928269 {
    padding: 0px !important;
    min-height: 50px !important;
    
}

.btn-search {
    background-color: #ff7701 !important; 
}

.item-service-wrapper {
    background-color: white !important;
    box-shadow: 0 0 1rem #d9d9d9 !important;
    border: 1px solid #d9d9d9 ;

}

.item-service-wrapper:hover {
    border: 1px solid  #30D5C8;

}

.logo.hidden-xs {
    width: 100px;
}

.hotel-pic {
    min-width: 250px !important;
    min-height: 250px !important;
    object-fit: fill !important;
}

.service-location {
    padding-top: 0px !important;
    margin-top: -5px;
    padding-bottom: 20px !important;
}

.service-title {
    padding-bottom: 5px !important;
    margin-top: -8px !important;
    font-size: 20px !important;
}

.meal-class {
    padding-top: 0px !important;
}

.tripadvisor-image-2 {
    margin-left: -33px;
}
.tripadvisor-image {
    margin-left: -8px;
}


.service-review.hidden-xs  {
    padding-right: 40px !important;
}

.price-div {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-end;
    float: right !important;
    width: 100%;
    margin-bottom: -10px;
    margin-right: 10%;
    /* margin-bottom: 10px; */
}

.old-price {
    margin-right: 5%;
    color: #5e6d77;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    font-weight: 400;
    font-size: 14px;
    padding-top: 4%;
    text-decoration: line-through;
}

.from {
    margin-right: 5%;
    color: #5e6d77;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    font-weight: 400;
    font-size: 14px;
    padding-top: 4%;
    text-align: right;
}

.old-price-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 11px;
    margin-bottom: -20px;

}

.new-price {
    font-weight: 500;
    font-size: 30px;

}

.col-sm-3.section-footer {
    padding-left: 0px !important;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    

}

.details-button {
    display: block;
}

.btn-details {
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.price-info {
    color: #5e6d77;
    margin-top: 30px;
    margin-bottom: 0px;
}

.price-included {
    margin-bottom: 10px;
    margin-top: -5px;
    font-size: 11px;
    color: #5e6d77;
}

.hotel-status-icon {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 5px;
}


.fac-custom {
    color: #1a2b50 !important; 
    font-size: 15px;
    margin-top:
}

.item-service-wrapper {
    min-height: 280px;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.breadcrumbs-item {
    display: list-item;
    font-size: 16px;
}

.sticky-filter {
    position: fixed;
    width: 300px;
    top: 20px;
    
}

.col-lg-9.col-md-9 {
    /* margin-left: 25%; */
}

.filter-label {
    width: 1px;
    height: 1px;

}

.name-search {
    width: 80%;
    /* background-image: url(https://w7.pngwing.com/pngs/410/185/png-transparent-magnifying-glass-computer-icons-magnifying-glass-glass-art-symbol.png);
    background-repeat: no-repeat;
    background-size: 20px; */
}

.sidebar-title::before {

    background: #30D5C8 !important;
}

.fac-ul {
    margin-top: 20% !important;
    /* margin-bottom: -10px; */
}

.bread {
    margin-left: 235px;
    margin-top: 50px;
    margin-bottom: -30px;

}

.search-form-small {
    display: inline-block;
    margin-top: 5px;
}

.check-info {
    color: #5e6d77;
    
    font-size: 11px;
    margin-left: 8px;
    position: absolute;
    margin-top: 5px;
}

.inactive {
    color: #9fb5c4 !important;
    /* text-decoration:line-through; */
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    margin-left: 100px;
    margin-top: 3px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2.2px;
    bottom: 2.2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #30D5C8;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .switch-sold {
    display: flex;
    justify-content: space-between;
  }

  .sold-wrap {
    padding-bottom: 20px;
  }

  .sold-out {
    background-color: rgb(255, 202, 202) !important;
  }

  .hidden-colors {
    color: rgb(0, 0, 0, 0);
  }
  